@page
@model IndexModel
@{
////ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome {0}", "Krzysztof"]</h1>  
    <img class="capital-city" src="~/images/@(Localizer["CapitalCity"]).jpg" />
</div>
